blib/
.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
Makefile
Makefile.old
Makefile.in
configure
MANIFEST.bak
META.yml
MYMETA.yml
nytprof.out
pm_to_blib
.#*
autom4te.cache/
config.log
config.status
thirdparty/*
!thirdparty/Makefile.am
!thirdparty/cpanfile*snapshot
*.tar.gz
init/znapzend.service
init/znapzend.sysv
init/znapzend.upstart
init/znapzend.xml
init/org.znapzend.plist
.DS_Store
znapzend*.pid
dump.dmp
*.selftest-rewritten
*~
conftools