*** GLOBAL ***
syslogfacility=local6

*** backup-a ***
src = home/oetiker/temp
# backups will end up in backup/oetiker/temp
dst = backup/oetiker

+ keep
# Step   MaxAge
1h       4h
6h       2d
1w       12w
2m       1y

*** backup-recursive ***
src = data
# backups will end up in backup/data
dst = backup
recursive = yes

+ keep
# Step   MaxAge
1h       4h
6h       2d
1w       12w
2m       1y

*** backup-offsite ***
src = home/oetiker/temp
# backups will end up in backup/oetiker/temp on host-y (user-x must have appropriate rights)
dst = user-x@host-y:backup/oetiker

+ keep
# Step   MaxAge
1h       12h
1d       5d
1w       2m
3m       3y

