body {
    font-family: 'Roboto', sans-serif;
}

#banner {
    background-image: url(../images/IMG_1051.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    color: #fff;
    padding-top: 10ex;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

#banner h1 {
    font-size: 600%;
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
}

#banner .claim {
    font-size: 300%;
    margin-bottom: 4ex;
}
    
