/**
 * A clean concise theme for your GitHub projects
 *
 * Licenced under GPL v3
 * http://www.gnu.org/licenses/gpl.html
 **/

/* Page */
body {
	background: #333333 url('../images/page-background.png') repeat top left;
	font-family: arial,sans-serif;
	padding:1%;
	margin:1%;
}
/* Header */
header {
	padding-top: 50px;
	padding-bottom: 28px;
}


div.credits {
	padding-top: 9px;
	margin-top: 30px;
	margin-bottom: 25px;
	border-top: 1px solid #DDD2B2;
	text-align: center;
}

footer p {
	color: #333333;
}

div.repo-author {
	padding-top: 30px;
}

/* Text */
p, strong, li {
    color: #CCCCCC;
    font-size: 14px;
}

strong {
    font-weight: bold;
    color: #EEEEEE;
}

a {
	color: #0075B6;
	text-decoration: none;
}

a:visited {
	color: #0075B6;
}

a:hover {
	text-decoration: underline;
}

h1, h2 {
	font-family: georgia,serif;
}

h1 {
	font-style: italic;
	color: #eee;
	font-size: 50px;
	margin: 0;
}

h2 {
	color: #CCCCCC;
	font-size: 20px;
	line-height: 23px;
	padding-top: 15px;
}

h3, h4 {
	color: #FFFFFF;
	font-weight: bold;
	font-family: inherit;
}

h3 {
	font-size: 28px;
	margin-top: 40px;
}

h4 {
	font-size: 20px;
	margin-top: 20px;
}

/* Useful classes and styles */
a.github-ribbon {
	position: absolute;
	top: 45px;
	left: 0;
	border: 0;
}



code {
	margin-top: 15px;
	border: 3px solid #FFFFFF;
	background-color: #CCCC99;
	display: block;
	padding: 20px;
	font-family: monospace;
	-webkit-box-shadow: 3px 3px 5px #000000;
	-moz-box-shadow: 3px 3px 5px #000000;
	box-shadow: 3px 3px 5px #000000;
	overflow-x: auto;
}

pre.prettyprint {
	border: 0;
	padding: 0;
	margin: 0;
}

img.repo-author-logo {
	float: left;
	margin-right: 15px;
}

/* Media queries */
/* Hide the ribbon when we are on a phone, screen is too small */
@media only screen and (max-width: 479px) {
	a.github-ribbon {
		display: none;
	}
}